doctype html
html(lang="en")
    head
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css')
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include style.css
        title Document
    body 
        nav
            .navbar
                .logo
                    a(href='#') Portfolio.
                ul.menu
                    li
                        a(href='/') Home
                    li
                        a(href='/services') Services
                    li
                        a(href='/contact') Contact

                .media-icons
                    a(href='#')
                        i.fab.fa-facebook-f
                    a(href='#')
                        i.fab.fa-twitter
                    a(href='#')
                        i.fab.fa-instagram
            .menu-btn
                i.fas.fa-bars
        
        section#home.home
            .home-content
                .text
                    .text-one Hello,
                    .text-two I'm John Doe
                    .text-three UI/UX Designer
                    .text-four From Nepal
        section#about.about
            .content
                .title
                    span About Me
                .about-details
                    .left
                        img(src='https://cdn.vox-cdn.com/thumbor/9eMMS0KrIzKbHN0kZM0Av1yVbOg=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/9490719/thor_big.jpg' alt='')
                    .right
                        .topic Designing Is My Passion
                        p 
                        |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, porro veritatis pariatur, nobis voluptatem ipsum repellat nemo quisquam error reprehenderit recusandae odio vel, suscipit. Voluptas mollitia accusantium quaerat aspernatur labore dolorum placeat ipsa sint nam perspiciatis eos consectetur veritatis debitis, quis aliquam unde sed maiores sit! Hic molestiae optio iste iure earum amet nostrum quaerat facere quae veniam maiores harum iusto aperiam vel inventore illo voluptatibus voluptates quo impedit voluptatum error vitae, omnis praesentium? Aperiam nulla non, nesciunt fuga rem perferendis alias et, temporibus, distinctio culpa unde a laborum libero ducimus. Facilis veniam sit praesentium, voluptatibus sint maxime iusto eaque.
                
