doctype html
html(lang="en")
    head
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css')
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include style.css
        title Document
    body 
        nav
            .navbar
                .logo
                    a(href='#') Portfolio.
                ul.menu
                    li
                        a(href='/') Home
                    li
                        a(href='/services') Services
                    li
                        a(href='/contact') Contact

                .media-icons
                    a(href='#')
                        i.fab.fa-facebook-f
                    a(href='#')
                        i.fab.fa-twitter
                    a(href='#')
                        i.fab.fa-instagram
            .menu-btn
                i.fas.fa-bars

        section#services.services
            .content
                .title
                    span My Services
                .boxes
                    .box
                        .icon
                            i.fas.fa-desktop
                        .topic Web Devlopment
                        p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
                        | autem quam odio, qui voluptatem eligendi?
                    .box
                        .icon
                            i.fas.fa-paint-brush
                        .topic Graphic Design
                        p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
                        | autem quam odio, qui voluptatem eligendi?
                    .box
                        .icon
                            i.fas.fa-chart-line
                        .topic Digital Marketing
                        p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
                        | autem quam odio, qui voluptatem eligendi?
                    .box
                        .icon
                            i.fab.fa-android
                        .topic Icon Design
                        p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
                        | autem quam odio, qui voluptatem eligendi?
                    .box
                        .icon
                            i.fas.fa-camera-retro
                        .topic Photography
                        p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
                        | autem quam odio, qui voluptatem eligendi?
                    .box
                        .icon
                            i.fas.fa-tablet-alt
                        .topic Apps Devlopment
                        p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
                        | autem quam odio, qui voluptatem eligendi?
